body {
  padding: 0.5em
}

svg {
  display: block;
  margin:auto;
}

#tooltip {
  position: absolute;
  pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.tick {
  font-size: 1.2em;
}
#legend {
  background-color: red;
}